.main {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    background: rgb(137, 108, 153);
}

.alinhamento{
    display: flex;
    align-items: center;
    justify-content: space-between;
   background-color: aqua;
}

.card {
    display: flex;
    align-items: center;/*centralizado na horizontal*/
    justify-content: center; /*centralizado na vertical*/
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    height: 700px;
    width: 400px;

}

.btn{
    padding: 10px 20px;
  background-color: #5e5e5e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: end;
  margin-left: 12px;
}